.place__website{
  align-self: flex-end;
  margin: 0 0 48px 0px;
  width: 50%;
}

@media screen and (max-width: 560px) {
  .place__website {
      width: calc(100% - 2 * 16px);
      margin: 0 0 32px 16px;
      align-self: start;
  }
}